a.minibutton {
    text-decoration: none;
    padding: 8px;
}
#clue_submit,
#paste_clues {
    background-color: #a5b8da;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(top, #a5b8da, #7089b3);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
    text-transform: uppercase;
    width: 150px; 
}

#clue_submit:hover,
#paste_clues:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; 
}

#clue_submit:active,
#paste_clues:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}


table.grid {
    border-spacing: 1px;
    border-collapse: separate;
}
table.grid td {
    padding: 2px;
}
@font-face {
    font-family:"ballpoint";
    src:url("/site_media/fonts/fg-ballpoint.ttf");
}
.notes { display: none; }
.grid {
    margin-bottom: 20px;
}

#add-favorite,
#write-note {
    margin-top: 20px;
}


#add-favorite,
#write-note,
#save_crossword {
    background-color: #a5b8da;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(top, #a5b8da, #7089b3);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
    text-transform: uppercase;
    width: 150px; 
}

#add-favorite:hover,
#write-note:hover,
#save_crossword:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; 
}

#add-favorite:active,
#write-note:active,
#save_crossword:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}

.black-box {
    color:#111111;
    background-color:#111111;
    margin:-3px;
    width:31px; 
    height:31px; 
    font-family:ballpoint, serif; 
    font-weight:bold; 
    font-size:20px; 
    text-align:center;
    border-width:1px;
}

.black-box1 {
    background-image:url('/site_media/img/sq1.png');
}

.black-box2 {
    background-image:url('/site_media/img/sq2.png');
}

.black-box3 {
    background-image:url('/site_media/img/sq3.png');
}

.tile {
    color:blue;
    margin:-3px;
    width:30px; 
    height:30px; 
    font-family:ballpoint, serif; 
    font-weight:bold; 
    font-size:20px; 
    text-align:center;
    border-width:1px;
    border: 1px solid;
    border-color: black;
}

.across_clues {
    border-right: 1px dashed gray;
    padding-right: 20px;
}

.down_clues {
}

.clue {
    padding-left:2px;
    pading-right: 2px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.clue:hover {
    color: #680000;
    background: #eee;
}

.letter {
    margin-top:-10px;
    font-family:ballpoint, sans-serif;
    font-weight:normal;
}

.number {
    padding-top:1px;
    padding-left:1px;
    font-size:12px;
    color:black;
    font-family:"Times New Roman";
    font-weight:normal;
}

#notes-form {
    display:none;
    padding-top: 20px;
}

.favorite {
    font-weight: bold;
}

.heading {
    border-bottom: 3px red solid;
    margin-bottom: 20px;
}

.title {
    border-bottom: 2px red solid;
    margin-bottom: 20px;
}

#clue-notes {
    background: #fff9af; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZjlhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxNzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fff9af 1%, #fff175 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff9af), color-stop(100%,#fff175)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff9af 1%,#fff175 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff9af 1%,#fff175 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff9af 1%,#fff175 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff9af 1%,#fff175 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9af', endColorstr='#fff175',GradientType=0 ); /* IE6-8 */
    border: none;
    color: #111;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    width: 100%;
}


.cwNumber{
    border: 0px;
    position: absolute;
    z-index: 20;
    width: 10px;
    height: 10px;
    padding-left: 2px;
    font-family: Arial; 
    font-size: 7pt;
}

span {
    margin-right: 20px;
}

br {
    margin-top: 30px;
}
